@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,300&display=swap");

:root {
  /* Primary */
  --blue: hsl(246, 80%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);

  /* Neutral */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  --font-main-titles-work-play: 18px "Rubik";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: var(--font-main-titles-work-play);
  font-weight: 400;
}
.main {
  height: 100vh;
  width: 100vw;
  background-color: var(--very-dark-blue);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 60vh;
  width: 80vw;
}
/* First card */
.big-div {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  margin-right: 1.5rem;
  border-radius: 0.8rem;
}
.jeremy {
  height: 67%;
  width: 100%;
  background-color: var(--blue);
  border-radius: 0.8rem;
}
.menu {
  height: 33%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 1.5rem;
}
#buttons {
  background: none;
  border: none;
  color: var(--pale-blue);
  font-size: 0.8rem;
  font-weight: 400;
}
#buttons:hover {
  color: white;
  cursor: pointer;
}
.image-container {
  width: 100%;
  height: 40%;
  margin: 1.5rem 0rem 0rem 1.5rem;
}
.image-container img {
  width: 30%;
  height: 60%;
  border: 0.2rem solid white;
  border-radius: 50%;
}
.report {
  margin-left: 1.5rem;
}
.report-for {
  font-size: 0.8rem;
  color: var(--pale-blue);
}
.jeremy-robson {
  font-size: 2rem;
  font-weight: 400;
}

/* right side */
.section-container {
  height: 100%;
  width: 75%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1rem;
}
.first {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url("./images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--light-red-work);
  border-radius: 0.8rem;
}
.second {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url("./images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--soft-blue-play);
  border-radius: 0.8rem;
}
.third {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url("./images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--light-red-study);
  border-radius: 0.8rem;
}
/* Second row */
.fourth {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url("./images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--lime-green-exercise);
  border-radius: 0.8rem;
}
.fifth {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url("./images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--violet-social);
  border-radius: 0.8rem;
}
.sixth {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url("./images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--soft-orange-self-care);
  border-radius: 0.8rem;
}
/* Inner card styles */
.stats {
  height: 78%;
  width: 100%;
  background-color: var(--dark-blue);
  border-radius: 0.6rem;
}
.stats:hover {
  cursor: pointer;
  background-color: var(--desaturated-blue);
}
.work {
  margin-top: 1rem;
}
#type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1.5rem 1rem 1.5rem;
}
.headings {
  font: var(--font-main-titles-work-play);
  font-size: 1rem;
}
.ellipsis {
  height: 10%;
  width: 10%;
  margin-top: 0.5rem;
  cursor: pointer;
}
.weekly {
  display: none;
}
.daily {
  display: none;
}
.monthly {
  display: none;
}
.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 100%;
  text-align: left;
  margin-left: 1.5rem;
}
.current {
  font-family: var(--font-main-titles-work-play);
  font-size: 2.3rem;
  font-weight: lighter;
  letter-spacing: 2px;
}
.past {
  font-size: 0.7rem;
  color: var(--pale-blue);
}

/* Media Query */
@media only screen and (max-width: 375px) {
  .main {
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .menu {
    display: flex;
    flex-direction: row;
  }
  .container {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .big-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    margin: 0;
  }
  .report {
    display: flex;
    flex-direction: column;
  }
  .jeremy {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }
  .report-for {
    margin-top: 1rem;
    font-size: 0.7rem;
  }
  .jeremy-robson {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0rem 0rem;
  }
  .jeremy-robson-div {
    display: flex;
    flex-direction: row;
  }
  .image-container {
    width: 20%;
    height: 50%;
    margin: 1.5rem 0rem 0rem 1.5rem;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    border: 0.2rem solid white;
    border-radius: 50%;
  }
  .menu {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }

  /* Sections */
  .section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .top-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .bottom-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .stats {
    height: 75%;
    width: 100%;
  }
  #cards {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
  .show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    width: 83%;
    text-align: left;
    margin-left: 1.5rem;
  }
  .current {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .past {
    margin-top: 0.5rem;
  }
  .headings {
    font-size: 0.8rem;
  }
}
